{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'asset_maintainence/css/index.css' %}">
    <script src="{% static 'asset_maintainence/js/fontawsome.js' %}"></script>
    <title>Project</title>
</head>

<body>
    <!--<div class="nav-wrapper">
        <nav class="nav">
            <div class="bard-logo">
                <i class="fas icus fa-bars"></i>
            </div>
            <div class="links">
                <div class="icons">
                    <i class="fas icus fa-map-marker-alt"></i>
                    <i class="fas icus fa-bell"></i>
                    <i class="far icus fa-calendar-alt"></i>
                    <i class="fas icus fa-question"></i>
                    <i class="fas icus fa-expand full_screen" title="Full Screen"></i>
                </div>
                <div class="user-info">
                    <span class="username">Hello, User <i class="fas fa-chevron-down"></i></span>
                </div>
            </div>
        </nav>
    </div>--> {% include 'nav.html' %}

    <div class="asset-maintenance">
        <span class="asset-txt">Asset Maintenance</span>
    </div>

    <div class="icons-breadcrumbs">
        <div class="bread-crumb">
            <h2>Asset Maintenance</h2>
            <ul class="bread-crumb-ul">
                <li class="bread-crumb-li">
                    <a href="#" class="breadcrumb-link">Home</a>
                </li>
                <li class="bread-crumb-li">
                    <a href="/" class="breadcrumb-link">Asset Maintenance</a>
                </li>
                <li class="bread-crumb-li">
                    <a href="#" class="breadcrumb-link breadcrumb-link-active">SPLIT A/C - XYZ-123</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="view">
            <div class="view-page">

                <label for="asset_type">Asset Type</label>
                <input type="text" name="asset_type" id="asset_type" value="Asset" disabled>
                <label for="upload_product_image">Upload Product Image</label>

                <span></span>
                <label for="manufacturer">Manufacturer&ensp;<span>*</span></label>
                <input type="text" name="manufacturer" id="manufacturer" value="BLUE STAR" disabled required>
                <label for="warranty_duration">Warranty Duration</label>
                <div class="warranty-txt-select">
                    <input type="text" name="warranty_duration" id="warranty_duration" disabled>
                    <select name="warranty_select" id="warranty_select" disabled></select>
                </div>
                <label for="category">Category&ensp;<span>*</span></label>
                <input type="text" name="category" id="category" value="EQUIPMENT" disabled required>
                <label for="is_movable">Is Movable</label>
                <input type="text" name="is_movable" id="is_movable" value="NO" disabled>
                <label for="sub_category">Sub-Category</label>
                <input type="text" name="sub_category" id="sub_category" value="A/C" disabled>

                <span></span>
                <span></span>
                <label for="asset_name">Asset Name&ensp;<span>*</span></label>
                <input type="text" name="asset_name" id="asset_name" value="SPLIT/AC" disabled required>

                <span></span>
                <span></span>
                <label for="asset_model">Asset Model&ensp;<span>*</span></label>
                <input type="text" name="asset_model" id="asset_model" value="XYZ-123" disabled required>

                <span></span>
                <span></span>
                <label for="description">Description</label>
                <input type="text" name="description" id="description" value="2 TONS SPLIT/AC" disabled>

                <span></span>

            </div>
            <div class="bottom-navbar">
                <ul>
                    <li>
                        <a href="/view" class="bottom-navbar-redirect">Additional Info</a><a href="/view_schedule"
                            class="bottom-navbar-redirect">Schedule</a><a href="/view_asset_id"
                            class="bottom-navbar-redirect active-assetid">Asset
                            ID</a>
                    </li>
                </ul>
            </div>
            <input type="button" value="Add Info" id="add_info">
            <table id="view_asset_id_table">
                <tr>
                    <th>S.No</th>
                    <th>Asset Id</th>
                    <th><i class="fas fa-filter fa-sm"></i>&nbsp;Asset Number</th>
                    <th><i class="fas fa-filter fa-sm"></i>&nbsp;Year of Manufacturing</th>
                    <th><i class="fas fa-filter fa-sm"></i>&nbsp;Capacity Rating</th>
                    <th><i class="fas fa-filter fa-sm"></i>&nbsp;Installation Date</th>
                    <th><i class="fas fa-filter fa-sm"></i>&nbsp;Criticality</th>
                    <th><i class="fas fa-filter fa-sm"></i>&nbsp;Customer Name</th>
                    <th>Location Name</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td colspan="10">No record(s) found.</td>
                </tr>
            </table>
            <input type="button" value="Cancel" id="view_cancel">
        </div>
    </div>

    <div class="bg-modal-edit">
        <div class="modal-edit">
            <div class="topic-edit">
                <p>Additional Info</p>
                <span class="close-modal-edit">&times;</span>
            </div>
            <div class="topic-required-details-edit">
                <p>Name&nbsp;<span>*</span></p>
                <input type="text" name="name" id="name" autocomplete="off">
                <p>Label&nbsp;<span>*</span></p>
                <input type="text" name="label" id="label" autocomplete="off">
                <p>Type&nbsp;<span>*</span></p> <br>
                <select name="type" id="type">
                    <option value="default">Select Field Type</option>
                    <option value="first_line">Text (One line)</option>
                    <option value="second_line">Text (Multiple line)</option>
                </select>
                <div class="split-it-for-btns-edit">
                    <input type="button" value="Cancel" id="cancel_btn_edit">
                    <input type="button" value="Submit">
                </div>
            </div>
        </div>
    </div>

</body>
<script src="{% static 'asset_maintainence/js/index.js' %}"></script>
<script>
    let $_add_info = document.getElementById('add_info');

    $_add_info.addEventListener('click', () => {
        AddInfoModal();
    })
</script>

</html>