{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'asset_maintainence/css/index.css' %}">
    <script src="{% static 'asset_maintainence/js/fontawsome.js' %}"></script>
    <title>Project</title>
</head>

<body>
    <!--<div class="nav-wrapper">
        <nav class="nav">
            <div class="bard-logo">
                <i class="fas icus fa-bars"></i>
            </div>
            <div class="links">
                <div class="icons">
                    <i class="fas icus fa-map-marker-alt"></i>
                    <i class="fas icus fa-bell"></i>
                    <i class="far icus fa-calendar-alt"></i>
                    <i class="fas icus fa-question"></i>
                    <i class="fas icus fa-expand full_screen" title="Full Screen"></i>
                </div>
                <div class="user-info">
                    <span class="username">Hello, User <i class="fas fa-chevron-down"></i></span>
                </div>
            </div>
        </nav>
    </div>--> {% include 'nav.html' %}

    <div class="asset-maintenance">
        <span class="asset-txt">Asset Maintenance</span>
    </div>

    <div class="icons-breadcrumbs">
        <div class="bread-crumb">
            <h2>Schedule</h2>
            <ul class="bread-crumb-ul">
                <li class="bread-crumb-li">
                    <a href="#" class="breadcrumb-link">Home</a>
                </li>
                <li class="bread-crumb-li">
                    <a href="/" class="breadcrumb-link">Asset Maintenance</a>
                </li>
                <li class="bread-crumb-li">
                    <a href="#" class="breadcrumb-link breadcrumb-link-active">SPLIT A/C - XYZ-123</a>
                </li>
            </ul>
            <div class="float-right-contents">
                <i class="fas fa-history"><span class="tooltiptext">Import Logs</span></i>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="box-details">
            <div class="search_bar">
                <button type="submit"><i class="fa fa-search"></i></button>
                <input type="text" placeholder="Schedule Search" name="search" autocomplete="off">
            </div>
            <br><br><br>
            <div class="main-content">
                <p>No record(s) found.</p>
            </div>
            <input type="button" value="Back" id="schedule_back">
        </div>
    </div>

</body>
<script src="{% static 'asset_maintainence/js/index.js' %}"></script>
<script>
    let $_history = document.querySelector('.fas.fa-history')
    let $_schedule_back = document.querySelector('#schedule_back');

    $_history.addEventListener('click', () => {
        gotoimportlogs();
    })

    $_schedule_back.addEventListener('click', () => {
        window.open('/view','_self');
    })

</script>

</html>