<div class="nav-wrapper">
    <nav class="nav">
        <div class="bard-logo">
            <i class="fas icus fa-bars"></i>
        </div>
        <div class="links">
            <div class="icons">
                <i class="fas icus fa-map-marker-alt"></i>
                <i class="fas icus fa-bell"></i>
                <i class="far icus fa-calendar-alt"></i>
                <i class="fas icus fa-question"></i>
                <i class="fas icus fa-expand full_screen" title="Full Screen"></i>
            </div>
            <div class="user-info">
                <span class="username">Hello, User <i class="fas fa-chevron-down"></i></span>
            </div>
        </div>
    </nav>
</div>